* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}

.header-links {
    display: flex;
    gap: 55px;
}

.link {
    font-size: 14px;
    font-weight: 400;
    color: #95e1d3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
}

.link:hover {
    color: #F38181;
    border-bottom: 3px solid #F38181;
}